.player-name-input__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50px, auto);
  gap: 10px;
}

.instruction {
  grid-column: 2;
  grid-row: 2;
}

.textinput {
  grid-column: 2;
  grid-row: 3;
}
.enter-button {
  grid-column: 2;
  grid-row: 4;
  color: #0b0b45;
}
