.main {
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #fafaeb;
}
.title {
  padding-top: 50px;
  padding-bottom: 50px;
}
.matching__text {
  font-size: 50px;
  font-weight: 500;
}
